<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>CSV Google Sheets Comparison</title>
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='style/index.css') }}" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>

<body>
    <div id="navbar">
      <div id="navbar-brand">
        <a href="/">CSVSheetsComparison</a>
      </div>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/savecreds" class="active">Save Credentials</a></li>
        </ul>
      </nav>
    </div>
    <div style="display: flex;justify-content: center;align-content: center;align-items: center;">
      <ul style="margin-top: 60px">
      {% for file in files %}
          <li><a href="{{ url_for('generated_csv', filename=file) }}" style="color:blue">{{ file }}</a></li>
      {% endfor %}
      </ul>
    </div>
</body>
</html>