<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>CSV Google Sheets Comparison</title>
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='style/index.css') }}" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>

<body>
    <div id="navbar">
      <div id="navbar-brand">
        <a href="/">CSVSheetsComparison</a>
      </div>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/savecreds">Save Credentials</a></li>
          <li><a href="/howto" class="active">Instructions</a></li>
        </ul>
      </nav>
    </div>
  <div>
    <ol>
        <li>Head to <a href="https://console.developers.google.com/">Google Developers Console</a> and create a new project (or select the one you already have).</li>
        <li>In the box labeled “Search products and resources”, search for “Google Drive API” and enable it. See Image Below.<br/> <img src="{{ url_for('static', filename='images/GoogleDriveAPI.png') }}"/></li>
        <li>In the box labeled “Search products and resources”, search for “Google Sheets API” and enable it.</li>
        <li>Click on the left navigation menu and Go to “APIs & Services > Credentials” and choose “Create credentials > Service account key”. See Image Below.<br/> <img src="{{ url_for('static', filename='images/apiandservices.png') }}"/><br/> <img src="{{ url_for('static', filename='images/serviceaccount.png') }}"/></li>
        <li>Fill out the form.  See Image Below.<br/> <img src="{{ url_for('static', filename='images/svcaccdetails.png') }}"/></li>
        <li>Click “Create” and “Done”.</li>
        <li>Press “Manage service accounts” above Service Accounts.</li>
        <li>Press on ⋮ near recently created service account and select “Manage keys” and then click on “ADD KEY > Create new key”.</li>
        <li>Select JSON key type and press “Create”.</li>

    <br/>
    You will automatically download a JSON file with credentials. It may look like this:
    <div class="highlight-default notranslate"><div class="highlight"><pre><span></span><span class="p">{</span>
        <span class="s2">"type"</span><span class="p">:</span> <span class="s2">"service_account"</span><span class="p">,</span>
        <span class="s2">"project_id"</span><span class="p">:</span> <span class="s2">"api-project-XXX"</span><span class="p">,</span>
        <span class="s2">"private_key_id"</span><span class="p">:</span> <span class="s2">"2cd … ba4"</span><span class="p">,</span>
        <span class="s2">"private_key"</span><span class="p">:</span> <span class="s2">"-----BEGIN PRIVATE KEY-----</span><span class="se">\n</span><span class="s2">NrDyLw … jINQh/9</span><span class="se">\n</span><span class="s2">-----END PRIVATE KEY-----</span><span class="se">\n</span><span class="s2">"</span><span class="p">,</span>
        <span class="s2">"client_email"</span><span class="p">:</span> <span class="s2">"473000000000-yoursisdifferent@developer.gserviceaccount.com"</span><span class="p">,</span>
        <span class="s2">"client_id"</span><span class="p">:</span> <span class="s2">"473 … hd.apps.googleusercontent.com"</span><span class="p">,</span>
        <span class="o">...</span>
    <span class="p">}</span>
    </pre></div>
    </div>

    <li>Very important! Go to your folder and share it with a client_email from the step above. Just like you do with any other Google account.</li>
    </ol>
  </div>

</body>

</html>