<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>CSV Google Sheets Comparison</title>
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='style/index.css') }}" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>
<body>
  <div id="navbar">
    <div id="navbar-brand">
      <a href="/">CSVSheetsComparison</a>
    </div>
    <nav>
      <ul>
        <li><a href="/" class="active">Home</a></li>
        <li><a href="/savecreds">Save Credentials</a></li>
        <li><a href="/howto">Instructions</a></li>
      </ul>
    </nav>
  </div>
</div>
  <div id="Container">
    <h1>CSV - GSheets Comparison</h1>
    <form method="post" enctype="multipart/form-data" onsubmit="submitForm()">
      <label>
        <input id="sheetsFolderInput" name="sheetsFolderInput" type="text" placeholder="Google drive folder URL">
        <span>Google Drive Folder URL</span>
      </label>
      <!-- <button id="getFilesList" name="GetFilesList" type="button">Get Files List</button> -->
      <a onclick="getFilesList()" id="getFilesList" class="fancy-button pop-onhover"><span>Get Files List</span></a>
      <!-- <div id="filesList">
      </div> -->
      <label>
        <input id="csvfileInput" type="file" name="file" />
        <span>CSV File</span>
      </label>
      <input type="submit" id="submitButton" value="Check" />
    </form>
  </div>
  <div id="overlay">
    <div class="cv-spinner">
      <span class="spinner"></span>
    </div>
  </div>

  <script>
    $(document).ajaxSend(function() {
      $("#overlay").fadeIn(300);　
    });

    function submitForm(e) {
      e = e || window.event;
      e.preventDefault();
      e.returnValue = false;
      console.log(JSON.stringify(e));
      let formData = new FormData($('form')[0]);
      let selectedSheetsNameToIds = {};
      let divs = document.getElementsByClassName('filesCheckboxes');
      for(let div of divs) {
        let inp = div.getElementsByTagName('input')[0];
        console.log(inp);
        if(inp.checked) {
          selectedSheetsNameToIds[inp.value] = inp.getAttribute('id');
        }
      }
      formData.append("selectedSheets", JSON.stringify(selectedSheetsNameToIds));
      $.ajax({
        url:"formsubmit",
        type:"POST",
        data: formData,
        contentType: false,
        // dataType:"json",
        processData: false,
        success: function(response){
          setTimeout(function(){
            $("#overlay").fadeOut(300);
          },500);
          // $('html').html(response);
          document.open("text/html", "replace");
          document.write(response);
          document.close();
          console.log(response);
        }
      })
    }
    function getFilesList() {
      $.ajax({
        url:"filesfromfolder",
        type:"POST",
        data:JSON.stringify({ folder_url: $("#sheetsFolderInput").val()}),
        contentType:"application/json; charset=utf-8",
        dataType:"json",
        success: function(data){
          $(".filesCheckboxes").remove();
          setTimeout(function(){
            $("#overlay").fadeOut(300);
          },500);
          for(let sheetName in data) {
            let sheetId = data[sheetName];            
            $("#getFilesList").after(`<div class="filesCheckboxes"><input type="checkbox" name="sheets" id="${sheetId}" value="${sheetName}"> <label for="${sheetId}">${sheetName}</label></div>`)
            // $('#filesListUL').append(`<li><input type="checkbox" id="${sheetId}">${sheetName}</li>`);
          }
        }
      })
    }
    $(function () {
      $('input').on('change', function () {
        var input = $(this);
        if (input.val().length) {
          input.addClass('populated');
        } else {
          input.removeClass('populated');
        }
      });

      setTimeout(function () {
        $('#sheetsFolderInput').trigger('focus');
      }, 500);
    });
  </script>
</body>

</html>