<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>CSV Google Sheets Comparison</title>
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='style/index.css') }}" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>

<body>
    <div id="navbar">
      <div id="navbar-brand">
        <a href="/">CSVSheetsComparison</a>
      </div>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/savecreds" class="active">Save Credentials</a></li>
          <li><a href="/howto">Instructions</a></li>
        </ul>
      </nav>
    </div>
  <div id="Container">
    <h1>Upload Your Credentials</h1>
    <form method="post" enctype="multipart/form-data" action="/savecreds">
        <label>
            <input id="credsFileInput" type="file" name="file" />
            <span>Credentials JSON File</span>
          </label>
      <input type="submit" id="submitButton" value="Upload" />
    </form>
  </div>

  <script>
    $(function() {
      $('input').on('change', function() {
        var input = $(this);
        if (input.val().length) {
          input.addClass('populated');
        } else {
          input.removeClass('populated');
        }
      });
      
      setTimeout(function() {
        $('#credsInput').trigger('focus');
      }, 500);
    });
  </script>
</body>

</html>